<h1>Your Cart</h1>

<table>

	 <% @cart.each do |id, quantity| %>
	 <% book = Book.find(id) %>
	<tr> <td><% book.name %></td>
	 <td><%= quantity %></td>
	 	 <td><%number_to_currency book.price, :unit=>"R;" %></td>
	 <tr>
<td></td>
	 	</tr>
	 		<%end%>
</table>